.skeleton {
    position: relative
}

.skeleton:after {
    position: absolute;
    top: -1px;
    left: -1px;
    border: 1px solid rgb(246, 246, 246);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background: rgb(246, 246, 246);
    background-image: linear-gradient(90deg, rgb(246, 246, 246) 25%, rgb(252, 252, 252) 37%, rgb(246, 246, 246) 63%);
    background-size: 400% 100%;
    background-repeat: no-repeat;
    content: "";
    animation: svelte-1rbc4kq-loading-animation 1.5s ease infinite
}

.skeleton-circle:after {
    border-radius: 50%;
    background: rgb(252, 252, 252);
    background-image: radial-gradient(circle at center, transparent 50%, rgb(252, 252, 252) 50%, rgb(246, 246, 246) 50%);
    background-size: 100% 100%
}

@keyframes svelte-1rbc4kq-loading-animation {
        {
        background-position: 100% 50%
    }

        {
        background-position: 0 50%
    }
}

.account-section.svelte-1cddrj5 {
    padding: 24px 28px
}

h2.svelte-1cddrj5 {
    margin: 0;
    padding: 0
}

.title.svelte-1cddrj5 {
    font-size: 20px
}

@media screen and (max-width: 640px) {
    .account-section.svelte-1cddrj5 {
        margin-top: 36px;
        padding: 0
    }
}

.avatar-wrap.svelte-1kvy0vy {
    margin: 24px -8px
}

.avatar-wrap.svelte-1kvy0vy:after {
    display: table;
    clear: both;
    content: ""
}

.avatar.svelte-1kvy0vy {
    box-sizing: border-box;
    border: 3px solid transparent;
    padding: 8px;
    width: 20%;
    float: left
}

.avatar.active.svelte-1kvy0vy {
    border-color: #7f9ff2
}

.upload-button.svelte-1kvy0vy {
    box-sizing: border-box;
    border: 1px solid #5AA8FA;
    border-radius: 8px;
    padding: 12px 0;
    gap: 12px
}

@media screen and (max-width: 640px) {
    .avatar.svelte-1kvy0vy {
        width: 25%
    }
}

.avatar.svelte-1azfgmn.svelte-1azfgmn {
    border-radius: 50%;
    width: 48px;
    height: 48px
}

.avatar.svelte-1azfgmn:hover .photo.svelte-1azfgmn {
    display: inline-block
}

.photo.svelte-1azfgmn.svelte-1azfgmn {
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 14px;
    background: rgba(1, 6, 18, .5)
}

.nickname-wrap.svelte-17wbtru {
    position: relative;
    margin-top: 12px;
    border-radius: 8px;
    padding: 4px 8px;
    line-height: 14px;
    font-size: 12px;
    background: #e9ecf2;
    color: #6c6e74
}

.nickname-wrap.bottom.svelte-17wbtru:after {
    position: absolute;
    top: -8px;
    left: var(--space-left);
    border-right: 4px solid transparent;
    border-bottom: 8px solid #e9ecf2;
    border-left: 4px solid transparent;
    width: 0;
    height: 0;
    content: ""
}

.nickname-wrap.right.svelte-17wbtru {
    margin-left: 8px
}

.nickname-wrap.right.svelte-17wbtru:after {
    position: absolute;
    top: 50%;
    left: -8px;
    border-top: 4px solid transparent;
    border-right: 8px solid #e9ecf2;
    border-bottom: 4px solid transparent;
    width: 0;
    height: 0;
    transform: translateY(-50%);
    content: ""
}

.nickname-input {
    box-sizing: border-box;
    border: 1px solid #dbdfe7 !important;
    border-radius: 8px;
    padding: 20px 16px;
    line-height: 16px !important;
    font-weight: 500;
    font-size: 16px !important;
    text-decoration: none
}

.nickname-input:focus {
    border-color: #5AA8FA !important
}

.user-nickname.svelte-4khh16 {
    display: inline-block;
    min-width: 200px
}

@media screen and (max-width: 640px) {
    .user-nickname.svelte-4khh16 {
        min-width: 0
    }

    .nickname.svelte-4khh16 {
        white-space: normal;
        word-break: break-all
    }
}

.info-content.svelte-r1ye7y {
    padding-left: 20px
}

.info-item.svelte-r1ye7y {
    min-width: 140px
}

.info-label.svelte-r1ye7y {
    color: #1d212973
}

.info-value.svelte-r1ye7y {
    padding-top: 4px
}

.info-value.svelte-r1ye7y .arrow-right {
    display: inline-block;
    margin-right: 4px;
    margin-left: 0;
    transform: rotate(180deg)
}

.items.svelte-r1ye7y {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 32px
}

@media screen and (max-width: 640px) {
    .base-info.svelte-r1ye7y {
        align-items: unset
    }

    .info-content.svelte-r1ye7y {
        flex: 1
    }

    .items.svelte-r1ye7y {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px
    }

    .info-item.svelte-r1ye7y {
        min-width: 0
    }
}

.secure-item.svelte-dnghf5 {
    border: 1px solid #dbdfe7;
    border-radius: 12px;
    padding: 36px 40px;
    width: 100%;
    gap: 20px
}

.desc.svelte-dnghf5 {
    color: #1d212973
}

.fa.svelte-dnghf5 {
    top: 0;
    right: 0;
    border-radius: 0 12px;
    padding: 6px 8px;
    line-height: 14px;
    font-size: 12px;
    background: rgba(255, 125, 0, .16);
    color: #ff7d00
}

.a-box.svelte-dnghf5 {
    display: flex;
    margin-top: 16px;
    gap: 13px
}

.box.svelte-dnghf5 {
    flex: 1;
    flex-direction: column
}

.btn.svelte-dnghf5 button {
    align-items: center;
    border-radius: 50px;
    height: 40px;
    line-height: 40px
}

@media screen and (max-width: 640px) {
    .a-box.svelte-dnghf5 {
        display: flex;
        flex-direction: column;
        gap: 16px
    }

    .secure-item.svelte-dnghf5 {
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: auto
    }
}

.btn-inner.svelte-fdzl0w {
    margin: 0 -32px;
    border: 1px solid #e6e6e6;
    border-radius: 50px;
    padding: 8px 20px;
    line-height: 22px;
    font-size: 14px
}

.btn-inner.primary.svelte-fdzl0w {
    background: var(--blue-main);
    color: #fff
}

.btn-inner.default.svelte-fdzl0w {
    background: #fff;
    color: var(--blue-main)
}

canvas.svelte-lz3bwl {
    display: inline-block
}

.estimated-balance.svelte-99udwz {
    margin-top: 12px;
    border-radius: 12px;
    padding: 24px;
    background: #f9f9fd
}

.value.svelte-99udwz {
    padding-top: 4px;
    font-size: 24px;
    font-family: Gilroy-Bold
}

.ranges.svelte-99udwz {
    display: inline-flex;
    margin-top: 4px;
    border-radius: 4px;
    padding: 2px;
    background: #f3f4fb
}

.range.svelte-99udwz {
    border-radius: 4px;
    width: 32px;
    height: 28px
}

.range.selected.svelte-99udwz {
    background: #fff
}

.container.svelte-99udwz {
    height: 300px
}

.container.loading.svelte-99udwz {
    opacity: .2
}

.loading-wrapper.svelte-99udwz {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 50px;
    transform: translate(-50%, -50%)
}

.feature-item.svelte-3n7ngw {
    margin-top: 12px;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    padding: 20px;
    width: 100%
}

.text.svelte-3n7ngw {
    padding-left: 16px
}

.desc.svelte-3n7ngw {
    color: #1d212973
}

.btn.svelte-3n7ngw {
    display: none
}

.btn.svelte-3n7ngw button {
    border-radius: 50px;
    border-color: #e9ecef
}

@media screen and (min-width: 1600px) {
    .btn.svelte-3n7ngw {
        display: block
    }
}

.carousel.svelte-f439t6.svelte-f439t6 {
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center
}

button.svelte-f439t6.svelte-f439t6 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 48px;
    height: 48px;
    top: 50%;
    z-index: 50;
    margin-top: -24px;
    border: none;
    background-color: transparent
}

button.svelte-f439t6.svelte-f439t6:focus {
    outline: none
}

.left.svelte-f439t6.svelte-f439t6 {
    left: -48px
}

.right.svelte-f439t6.svelte-f439t6 {
    right: -48px
}

.dots.svelte-f439t6.svelte-f439t6 {
    position: absolute;
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
    padding: 0;
    width: 100%;
    list-style-type: none
}

.dots.svelte-f439t6 .dot.svelte-f439t6 {
    margin: 0 4px;
    border-radius: 100px 0;
    width: 12px;
    height: 4px;
    background-color: #dbdfe780
}

.dots.svelte-f439t6 .dot-active.svelte-f439t6 {
    background-color: var(--blue-main)
}

.card.svelte-1ac28wp.svelte-1ac28wp {
    box-sizing: border-box;
    width: 100%
}

.card.svelte-1ac28wp img.svelte-1ac28wp {
    border-radius: 8px;
    display: none;
    width: 100%
}

.recommendations.svelte-1ac28wp.svelte-1ac28wp {
    padding-top: 12px
}

.recommendations.svelte-1ac28wp .dots {
    margin-top: 12px !important
}

.text.svelte-uxdqvs {
    padding-left: 20px;
    white-space: nowrap
}

.item.svelte-x2lq70 {
    padding-top: 24px;
    height: 40px
}

canvas.svelte-x2lq70 {
    position: absolute;
    top: 0;
    left: 0
}

.canvas-container.svelte-x2lq70 {
    min-width: 284px;
    overflow: hidden
}

.btn-wrapper.svelte-x2lq70 button {
    border-radius: 50px;
    border-color: #e9ecef
}

.btn-wrapper.svelte-x2lq70 {
    height: 64px
}

.tabs.svelte-922vw1 {
    margin-top: 16px;
    border-bottom: 1px solid #e6e6e6
}

.tab.svelte-922vw1 {
    margin-right: 24px;
    padding-bottom: 8px
}

.tab.active.svelte-922vw1 {
    border-bottom: 3px solid var(--blue-main)
}

.tab-content.svelte-922vw1 {
    padding-bottom: 100px
}

@media screen and (max-width: 640px) {
    .tab-content.svelte-922vw1 {
        padding-bottom: 0
    }
}

.switch.svelte-g7xgl5.svelte-g7xgl5,
.switch-night.svelte-g7xgl5.svelte-g7xgl5 {
    position: relative;
    display: inline-block;
    width: 42px
}

.wrap.svelte-g7xgl5.svelte-g7xgl5 {
    display: block;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer
}

.inner.svelte-g7xgl5.svelte-g7xgl5 {
    display: block;
    margin-left: -100%;
    width: 200%;
    transition: margin .3s ease-in 0s
}

.inner.svelte-g7xgl5.svelte-g7xgl5:before,
.inner.svelte-g7xgl5.svelte-g7xgl5:after {
    display: block;
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 20px;
    font-size: 12px;
    color: #fff
}

.inner.svelte-g7xgl5.svelte-g7xgl5:before {
    content: " ";
    padding-left: 10px
}

.switch.svelte-g7xgl5 .inner.svelte-g7xgl5:before {
    background: var(--blue-main)
}

.switch-night.svelte-g7xgl5 .inner.svelte-g7xgl5:before {
    background: var(--blue-main)
}

.inner.svelte-g7xgl5.svelte-g7xgl5:after {
    content: " ";
    padding-right: 10px;
    text-align: right;
    background: #fff
}

.circle.svelte-g7xgl5.svelte-g7xgl5 {
    position: absolute;
    top: 2px;
    bottom: 0;
    right: 22px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 16px;
    height: 16px;
    background: #ccc;
    transition: all .3s ease-in 0s
}

.switch.checked.svelte-g7xgl5 .inner.svelte-g7xgl5,
.switch-night.checked.svelte-g7xgl5 .inner.svelte-g7xgl5 {
    margin-left: 0
}

.switch.checked.svelte-g7xgl5 .circle.svelte-g7xgl5,
.switch-night.checked.svelte-g7xgl5 .circle.svelte-g7xgl5 {
    right: 2px;
    border: 1px solid #fff;
    background: #fff
}

.switch.disabled.svelte-g7xgl5.svelte-g7xgl5 {
    pointer-events: none;
    opacity: .4
}

.wrap.svelte-3n1q5z {
    margin-bottom: 24px;
    padding: 0 28px
}

.wrap.svelte-3n1q5z .switch {
    width: 42px
}

.wrap.svelte-3n1q5z .switch .wrap {
    border-radius: 20px;
    border-color: #1d212940
}

.wrap.svelte-3n1q5z .switch.checked .wrap {
    border-color: var(--blue)
}

.wrap.svelte-3n1q5z .switch label {
    border: none
}

.wrap.svelte-3n1q5z .switch .circle {
    top: 1px;
    right: unset;
    left: 1px;
    border: none;
    border: 1px solid #fff;
    width: 18px;
    height: 18px;
    background: #ffffff
}

.wrap.svelte-3n1q5z .switch.checked .circle {
    right: 1px !important;
    left: unset
}

.wrap.svelte-3n1q5z .switch .inner:after {
    background: rgba(29, 33, 41, .25)
}

.wrap.svelte-3n1q5z .switch .inner {
    transition: none
}

@media screen and (max-width: 640px) {
    .wrap.svelte-3n1q5z {
        margin-top: 16px !important;
        padding-top: 36px !important
    }

    .xs\:mt8.svelte-3n1q5z {
        margin-top: 8px
    }

    .xs\:mt12.svelte-3n1q5z {
        margin-top: 12px
    }

    .xs\:f20.svelte-3n1q5z {
        font-size: 20px
    }

    .wrap.svelte-3n1q5z {
        padding: 0
    }

    .item.svelte-3n1q5z {
        border: 1px solid #e6e6e6;
        padding: 16px
    }
}

.top-section.svelte-kfj8ct.svelte-kfj8ct {
    border-bottom: 1px solid #e6e6e6
}

.info-section.svelte-kfj8ct.svelte-kfj8ct {
    width: 100%
}

.info-section.svelte-kfj8ct .left.svelte-kfj8ct {
    flex: 1;
    border-right: 1px solid #e6e6e6;
    overflow: hidden
}

.info-section.svelte-kfj8ct .right.svelte-kfj8ct {
    box-sizing: border-box;
    width: 420px
}

@media screen and (min-width: 1600px) {
    .info-section.svelte-kfj8ct .right.svelte-kfj8ct {
        width: 640px
    }
}

@media screen and (max-width: 640px) {

    .top-section.svelte-kfj8ct.svelte-kfj8ct,
    .info-section.svelte-kfj8ct .left.svelte-kfj8ct {
        border: unset
    }

    .info-section.svelte-kfj8ct .right.svelte-kfj8ct {
        width: unset
    }
}