.skeleton {
    position: relative
}

.skeleton:after {
    position: absolute;
    top: -1px;
    left: -1px;
    border: 1px solid rgb(246, 246, 246);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background: rgb(246, 246, 246);
    background-image: linear-gradient(90deg, rgb(246, 246, 246) 25%, rgb(252, 252, 252) 37%, rgb(246, 246, 246) 63%);
    background-size: 400% 100%;
    background-repeat: no-repeat;
    content: "";
    animation: svelte-1rbc4kq-loading-animation 1.5s ease infinite
}

.skeleton-circle:after {
    border-radius: 50%;
    background: rgb(252, 252, 252);
    background-image: radial-gradient(circle at center, transparent 50%, rgb(252, 252, 252) 50%, rgb(246, 246, 246) 50%);
    background-size: 100% 100%
}

@keyframes svelte-1rbc4kq-loading-animation {
        {
        background-position: 100% 50%
    }

        {
        background-position: 0 50%
    }
}

nav.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    border-right: 1px solid #e6e6e6;
    width: 240px
}

.navigation-box.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
    box-sizing: border-box;
    height: 100%;
    min-height: 100vh
}

.asset-ul.svelte-1mpjmm4>li.svelte-1mpjmm4.svelte-1mpjmm4 {
    padding: 14px 16px
}

li.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
    margin-bottom: 14px;
    font-weight: var(--fw2);
    list-style: none
}

.expand-li.expanded.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
    margin-bottom: 0
}

.expand-li.svelte-1mpjmm4 li.svelte-1mpjmm4.svelte-1mpjmm4:last-child {
    margin-bottom: 0
}

li.svelte-1mpjmm4 a.svelte-1mpjmm4.svelte-1mpjmm4 {
    display: block;
    font-weight: var(--fw3);
    font-size: 16px;
    color: var(--T2);
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap
}

.active.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
    background: rgba(0, 63, 230, .05)
}

.expand-li.li-transfer.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
    padding-bottom: 0
}

li.svelte-1mpjmm4 a.svelte-1mpjmm4.svelte-1mpjmm4:hover,
.active.svelte-1mpjmm4 a.svelte-1mpjmm4.svelte-1mpjmm4 {
    color: var(--blue)
}

.expand-ul.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
    padding-top: 12px
}

.expand-ul.svelte-1mpjmm4>li.svelte-1mpjmm4.svelte-1mpjmm4 {
    border-radius: 8px;
    padding: 12px 16px
}

.animation.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
    transform: rotate(180deg)
}

.w12.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
    width: 12px
}

.disabled.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
    color: var(--T2);
    pointer-events: none;
    opacity: .4
}

.menu.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
    display: none
}

.go-back.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
    padding: 16px
}

@media screen and (max-width: 640px) {
    nav.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        display: none
    }
}

@media screen and (max-width: 640px) {
    nav.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        display: none
    }

    .menu.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        display: block;
        background: var(--B1)
    }

    .header.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        height: 42px
    }

    .header.svelte-1mpjmm4 .active.svelte-1mpjmm4.svelte-1mpjmm4 {
        border: 0;
        border-bottom: 3px solid #5AA8FA;
        border-radius: inherit;
        background: none
    }

    .header.svelte-1mpjmm4 .active.svelte-1mpjmm4 a.svelte-1mpjmm4,
    .header .active.svelte-1mpjmm4 span.svelte-1mpjmm4.svelte-1mpjmm4 {
        font-weight: var(--fw3);
        font-size: 20px;
        color: var(--T1)
    }

    a.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4,
    span.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        font-size: 16px
    }

    .header.svelte-1mpjmm4 div.svelte-1mpjmm4.svelte-1mpjmm4 {
        display: flex;
        align-items: center;
        margin: 0 20px
    }

    .header.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        width: calc(100vw - 50px);
        overflow: auto
    }

    .header.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4::-webkit-scrollbar,
    .referral.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4::-webkit-scrollbar {
        display: none
    }

    .line.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        position: absolute;
        right: 33px;
        width: 8px;
        height: 27px;
        background: linear-gradient(270deg, #c5c8ce 0%, transparent 100%)
    }

    .icon.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        width: 32px;
        height: 42px;
        background: var(--B1)
    }

    .icon.svelte-1mpjmm4 img.svelte-1mpjmm4.svelte-1mpjmm4 {
        margin-left: 4px;
        width: 14px;
        height: 14px
    }

    .referral.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        display: none;
        align-items: center;
        padding: 20px 0;
        line-height: 40px;
        overflow: auto
    }

    .detail.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        display: none;
        padding: 0 10px;
        background: #f8f8f9
    }

    .referral.visible.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        display: flex
    }

    .referral.left.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        margin-left: 0
    }

    html[lang=en-US] .referral.right.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        margin-left: -60px
    }

    html[lang=ru-RU] .referral.right.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        margin-left: -150px
    }

    html[lang=es-ES] .referral.right.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        margin-left: -230px
    }

    html[lang=de-DE] .referral.right.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        margin-left: -90px
    }

    html[lang=fr-FR] .referral.right.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        margin-left: -270px
    }

    html[lang=tr-TR] .referral.right.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        margin-left: -136px
    }

    .show.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        display: block
    }

    .drop-down-menu.visible.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        display: flex
    }

    .btn.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        border-radius: 4px;
        padding: 0 16px;
        line-height: 36px;
        background: var(--B1)
    }

    .ph20.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        padding: 0 20px
    }

    .btn.active.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4,
    .drop-down-menu.svelte-1mpjmm4 .btn.active.svelte-1mpjmm4.svelte-1mpjmm4 {
        background: var(--blue)
    }

    .btn.active.svelte-1mpjmm4 a.svelte-1mpjmm4.svelte-1mpjmm4,
    .btn.active.svelte-1mpjmm4 span.svelte-1mpjmm4.svelte-1mpjmm4 {
        color: var(--B1)
    }

    .drop-down-menu.svelte-1mpjmm4 .btn.svelte-1mpjmm4.svelte-1mpjmm4 {
        flex: 42%;
        margin-top: 16px;
        padding: 0;
        width: 50%;
        text-align: center;
        background: #f6f7fb
    }

    .drop-down-menu.svelte-1mpjmm4 .btn.svelte-1mpjmm4.svelte-1mpjmm4:nth-child(2n) {
        margin-left: 40px
    }

    .drop-down-menu.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        position: fixed;
        top: 80px;
        z-index: 999;
        display: none;
        width: 100%;
        height: 100%
    }

    .drop-down-content.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        padding-bottom: 16px;
        background: var(--B1)
    }

    .menu-mask.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        width: 100%;
        background: rgba(0, 0, 0, .6)
    }

    .back.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        padding: 0 16px;
        line-height: 30px
    }

    .arrow.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
        transform: rotate(90deg)
    }
}

.navigation-box.svelte-1mpjmm4 .web3-btn {
    margin: 36px auto 0
}

.navigation-box.svelte-1mpjmm4 .web3-btn,
.navigation-box.svelte-1mpjmm4 .web3-btn:hover {
    border: 0;
    border-radius: 48px;
    width: 100%;
    height: 60px;
    background: #0046ff;
    color: #fff
}

.navigation-box.svelte-1mpjmm4 .web3-btn:hover {
    opacity: .8
}

.navigation-btn.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
    box-sizing: border-box;
    height: 60px
}

.navigation-arrow.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
    margin-left: 4px
}

.web3-btn-wrap.svelte-1mpjmm4.svelte-1mpjmm4.svelte-1mpjmm4 {
    position: sticky;
    top: calc(100vh - 60px);
    background: #0046ff;
    display: none;
}

nav.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    border-right: 1px solid #e6e6e6;
    width: 240px
}

.navigation-box.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
    box-sizing: border-box;
    height: 100%;
    min-height: 100vh
}

.asset-ul.svelte-1opahhn>li.svelte-1opahhn.svelte-1opahhn {
    padding: 14px 16px
}

.expand-ul.svelte-1opahhn li.svelte-1opahhn.svelte-1opahhn {
    margin-bottom: 14px;
    font-weight: var(--fw2);
    list-style: none
}

li.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn:last-child {
    margin-bottom: 0
}

li.svelte-1opahhn a.svelte-1opahhn.svelte-1opahhn {
    display: block;
    font-weight: var(--fw3);
    font-size: 16px;
    color: var(--T2);
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap
}

.active.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
    background: rgba(0, 63, 230, .05)
}

.expand-li.li-transfer.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
    padding-bottom: 0
}

li.svelte-1opahhn a.svelte-1opahhn.svelte-1opahhn:hover,
.active.svelte-1opahhn a.svelte-1opahhn.svelte-1opahhn {
    color: var(--blue)
}

.expand-ul.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
    padding-top: 12px
}

.expand-ul.svelte-1opahhn>li.svelte-1opahhn.svelte-1opahhn {
    padding: 12px 16px 12px 24px
}

.animation.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
    transform: rotate(180deg)
}

.w12.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
    width: 12px
}

.disabled.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
    color: var(--T2);
    pointer-events: none;
    opacity: .4
}

.menu.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
    display: none
}

.go-back.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
    padding: 16px
}

.navigation-box.svelte-1opahhn .web3-btn {
    margin: 36px auto 0
}

.navigation-box.svelte-1opahhn .web3-btn,
.navigation-box.svelte-1opahhn .web3-btn:hover {
    border: 0;
    border-radius: 48px;
    width: 100%;
    height: 60px;
    background: #0046ff;
    color: #fff
}

.navigation-box.svelte-1opahhn .web3-btn:hover {
    opacity: .8
}

.navigation-btn.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
    box-sizing: border-box;
    height: 60px
}

.navigation-arrow.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
    margin-left: 4px
}

.web3-btn-wrap.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
    position: sticky;
    top: calc(100vh - 60px);
    background: #0046ff
}

@media screen and (max-width: 640px) {
    .ph20.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
        padding: 0 20px
    }

    nav.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
        display: none
    }

    .menu.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
        display: block;
        background: var(--B1)
    }

    .header.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
        height: 42px
    }

    .header.svelte-1opahhn .active.svelte-1opahhn.svelte-1opahhn {
        border: 0;
        border-bottom: 3px solid #5AA8FA;
        border-radius: inherit;
        background: none
    }

    .header.svelte-1opahhn .active.svelte-1opahhn a.svelte-1opahhn {
        font-weight: var(--fw3);
        font-size: 20px;
        color: var(--T1)
    }

    a.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn,
    span.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
        font-size: 16px
    }

    .header.svelte-1opahhn div.svelte-1opahhn.svelte-1opahhn {
        display: flex;
        align-items: center;
        margin: 0 20px
    }

    .header.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
        width: calc(100vw - 50px);
        overflow: auto
    }

    .header.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn::-webkit-scrollbar,
    .sub-nav-wrap.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn::-webkit-scrollbar {
        display: none
    }

    .line.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
        position: absolute;
        right: 33px;
        width: 8px;
        height: 27px;
        background: linear-gradient(270deg, #c5c8ce 0%, transparent 100%)
    }

    .icon.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        width: 32px;
        height: 42px;
        background: var(--B1)
    }

    .icon.svelte-1opahhn img.svelte-1opahhn.svelte-1opahhn {
        margin-left: 4px;
        width: 14px;
        height: 14px
    }

    .sub-nav-wrap.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
        padding: 0 10px;
        background: #f8f8f9;
        overflow: auto
    }

    .sub-nav-content.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
        display: inline-flex;
        align-items: center;
        padding: 20px 0 0;
        line-height: 40px
    }

    .drop-down-menu.visible.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
        display: flex
    }

    .btn.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
        border-radius: 4px;
        padding: 0 16px;
        line-height: 36px;
        background: var(--B1)
    }

    .btn.active.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn,
    .drop-down-menu.svelte-1opahhn .btn.active.svelte-1opahhn.svelte-1opahhn {
        background: var(--blue)
    }

    .btn.active.svelte-1opahhn a.svelte-1opahhn.svelte-1opahhn {
        color: var(--B1)
    }

    .drop-down-menu.svelte-1opahhn .btn.svelte-1opahhn.svelte-1opahhn {
        flex: 42%;
        margin-top: 16px;
        padding: 0;
        width: 50%;
        text-align: center;
        background: #f6f7fb
    }

    .drop-down-menu.svelte-1opahhn .btn.svelte-1opahhn.svelte-1opahhn:nth-child(2n) {
        margin-left: 40px
    }

    .drop-down-menu.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
        position: fixed;
        top: 80px;
        z-index: 999;
        display: none;
        width: 100%;
        height: 100%
    }

    .drop-down-content.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
        padding-bottom: 16px;
        background: var(--B1)
    }

    .menu-mask.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
        width: 100%;
        background: rgba(0, 0, 0, .6)
    }

    .back.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
        padding: 0 16px;
        line-height: 30px
    }

    .arrow.svelte-1opahhn.svelte-1opahhn.svelte-1opahhn {
        transform: rotate(90deg)
    }
}

.warp.svelte-19izw81 {
    width: 100%;
    background: #f2f3fa
}

.content.svelte-19izw81 {
    min-width: 980px;
    overflow: visible
}

.foot.svelte-19izw81 {
    min-width: 1200px
}

@media screen and (max-width: 640px) {
    .main.svelte-19izw81 {
        flex-direction: column;
        padding: 40px 0 0
    }

    .content.svelte-19izw81 {
        margin-bottom: 0;
        padding: 20px 16px;
        min-width: auto;
        background: #fff
    }

    .simple.content.svelte-19izw81 {
        padding: 0 16px
    }

    .foot.svelte-19izw81 {
        min-width: auto
    }
}